# Import Dependancies

In [1]:
import warnings
warnings.filterwarnings('ignore')

import os
import numpy as np
import pandas as pd

from pyspark.sql import SparkSession
from pyspark import SparkFiles

from collections import Counter

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.under_sampling import ClusterCentroids
from imblearn.combine import SMOTEENN
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint

# Load in Our CSVs

In [2]:
def extract(url, file, show=False):
    # takes in a AWS S3 url
    spark = SparkSession.builder.appName("Project_ETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()
    spark.sparkContext.addFile(url)
    df = spark.read.csv(SparkFiles.get(file), sep=",", header=True, inferSchema=True)
    df = df.toPandas()
    if show == True:
        display(df.head())

    return df

# file names
math_file = "student-mat.csv"
por_file = "student-por.csv"
# file urls
math_url = f"https://burdenderek-project.s3.us-east-2.amazonaws.com/{math_file}"
por_url = f"https://burdenderek-project.s3.us-east-2.amazonaws.com/{por_file}"
# save the dataframes
math = extract(url=math_url, file=math_file)
por = extract(url=por_url, file=por_file)
# math_path = os.path.join("Student_alcohol_consumption", "student-mat.csv")
# por_path = os.path.join("Student_alcohol_consumption", "student-por.csv")
# math = pd.read_csv(math_path)
# por = pd.read_csv(por_path)

# Preprocesing

In [3]:
# clean bucket the grades
# 10 and above is a pass
# 9 and below is a fail

def encode_grades(data):
    # bucket the grades into passing(1) and failling(0)
    
    # math
    # failling
    data.loc[(data["G1"] < 10), "G1"] = 0
    data.loc[(data["G2"] < 10), "G2"] = 0
    data.loc[(data["G3"] < 10), "G3"] = 0

    #passing
    data.loc[(data["G1"] >= 10), "G1"] = 1
    data.loc[(data["G2"] >= 10), "G2"] = 1
    data.loc[(data["G3"] >= 10), "G3"] = 1
    
    display(data.head())
    
    return

encode_grades(math)
encode_grades(por)

dnn_math = math.copy()
dnn_por = por.copy()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,0,0,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,0,0,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,0,0,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,1,1,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,0,1,1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,1,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,0,1,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,1,1,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,1,1,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,1,1,1

In [4]:
def encode_features(data):

    for i in data.columns.tolist():
        le = LabelEncoder()
        data[i] = le.fit_transform(data[i])
        
    display(data)
    
    return

encode_features(math)
encode_features(por)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,0,3,1,0,0,4,4,0,4,...,3,2,3,0,0,2,6,0,0,0
1,0,0,2,1,0,1,1,1,0,2,...,4,2,2,0,0,2,4,0,0,0
2,0,0,0,1,1,1,1,1,0,2,...,3,2,1,1,2,2,10,0,0,1
3,0,0,0,1,0,1,4,2,1,3,...,2,1,1,0,0,4,2,1,1,1
4,0,0,1,1,0,1,3,3,2,2,...,3,2,1,0,1,4,4,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,5,1,1,0,2,2,3,3,...,4,4,3,3,4,3,11,0,0,0
391,1,1,2,1,1,1,3,1,3,3,...,1,3,4,2,3,1,3,1,1,1
392,1,1,6,0,0,1,1,1,2,2,...,4,4,2,2,2,2,3,1,0,0
393,1,1,3,0,1,1,3,2,3,2,...,3,3,0,2,3,4,0,1,1,1
394,1,1,4,1,1,1,1,1,2,0,...,2,1,2,2,2,4,5,0,0,0

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,0,3,1,0,0,4,4,0,4,...,3,2,3,0,0,2,4,0,1,1
1,0,0,2,1,0,1,1,1,0,2,...,4,2,2,0,0,2,2,0,1,1
2,0,0,0,1,1,1,1,1,0,2,...,3,2,1,1,2,2,6,1,1,1
3,0,0,0,1,0,1,4,2,1,3,...,2,1,1,0,0,4,0,1,1,1
4,0,0,1,1,0,1,3,3,2,2,...,3,2,1,0,1,4,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,1,0,4,0,0,1,2,3,3,2,...,4,3,1,0,1,4,4,1,1,1
645,1,0,3,1,1,1,3,1,4,3,...,3,2,3,0,0,0,4,1,1,1
646,1,0,3,1,0,1,1,1,2,2,...,0,0,0,0,0,4,6,1,1,0
647,1,1,2,1,1,1,3,1,3,3,...,1,3,4,2,3,1,6,1,1,1
648,1,1,3,0,1,1,3,2,3,2,...,3,3,0,2,3,4,4,1,1,1

# Defining Functions to Build Our Models

In [5]:
def over_sample(df, drop, target):
    
    # split the table into features and outcomes
    x_cols = [i for i in df.columns if i not in drop]
    X = df[x_cols]
    y = df[target]

    # split features and outcomes into train and test data
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
    # oversample to make up for the low number of risky loans
    ros = RandomOverSampler(random_state=1)
    X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

    model = LogisticRegression(solver='lbfgs', random_state=1)
    model.fit(X_resampled, y_resampled)
    y_predictions = model.predict(X_test)

    # Calculating the accuracy score.
    acc_score = balanced_accuracy_score(y_test, y_predictions)
    
    return acc_score*100

In [6]:
def under_sample(df, drop, target):
    
    # split the table into features and outcomes
    x_cols = [i for i in df.columns if i not in drop]
    X = df[x_cols]
    y = df[target]

    # split features and outcomes into train and test data
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
    ros = RandomUnderSampler(random_state=1)
    X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

    model = LogisticRegression(solver='lbfgs', random_state=1)
    model.fit(X_resampled, y_resampled)
    y_predictions = model.predict(X_test)
    
    # Calculating the accuracy score.
    acc_score = balanced_accuracy_score(y_test, y_predictions)
    
    return acc_score*100

In [7]:
def cluster(df, drop, target):
    
    # split the table into features and outcomes
    x_cols = [i for i in df.columns if i not in drop]
    X = df[x_cols]
    y = df[target]
    
    # split features and outcomes into train and test data
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
    cc = ClusterCentroids(random_state=1)
    X_resampled, y_resampled = cc.fit_resample(X_train, y_train)

    model = LogisticRegression(solver='lbfgs', random_state=1)
    model.fit(X_resampled, y_resampled)

    y_predictions = model.predict(X_test)

    # Calculating the accuracy score.
    acc_score = balanced_accuracy_score(y_test, y_predictions)
    
    return acc_score*100

In [8]:
def smoteen(df, drop, target):
    
    # split the table into features and outcomes
    x_cols = [i for i in df.columns if i not in drop]
    X = df[x_cols]
    y = df[target]

    # split features and outcomes into train and test data
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
    smote_enn = SMOTEENN(random_state=0)
    X_resampled, y_resampled = smote_enn.fit_resample(X, y)

    model = LogisticRegression(solver='lbfgs', random_state=1)
    model.fit(X_resampled, y_resampled)
    y_predictions = model.predict(X_test)

    # Calculating the accuracy score.
    acc_score = balanced_accuracy_score(y_test, y_predictions)
    
    return acc_score*100

In [9]:
def random_forest(df, drop, target, show, model_name):

    # split the table into features and outcomes
    x_cols = [i for i in df.columns if i not in drop]
    X = df[x_cols]
    y = df[target]
    
    # split features and outcomes into train and test data
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
    brf = BalancedRandomForestClassifier(n_estimators=100, random_state=0)
    brf.fit(X_train, y_train)
    y_predictions = brf.predict(X_test)

    feature_importance = sorted(zip(brf.feature_importances_, X.columns.tolist()))[::-1]

    # Calculating the accuracy score.
    acc_score = balanced_accuracy_score(y_test, y_predictions)

    # Displaying results
    if show == True:
        print(f"Feature Importance: {model_name}")
        for i in feature_importance:
            print(i)
        print("\n")
    
    return acc_score*100

In [10]:
def easy_ensemble_classifier(df, drop, target):
    
    # split the table into features and outcomes
    x_cols = [i for i in df.columns if i not in drop]
    X = df[x_cols]
    y = df[target]
    
    # split features and outcomes into train and test data
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
    eec = EasyEnsembleClassifier(n_estimators=100, random_state=0)
    eec.fit(X_train, y_train)
    y_predictions = eec.predict(X_test)

    # Calculating the accuracy score.
    acc_score = balanced_accuracy_score(y_test, y_predictions)
    
    return acc_score*100

In [11]:
def dnn(df, drop, target, file_name):

    # Generate our categorical variable list
    encode_cat = df.dtypes[df.dtypes == "object"].index.tolist()

    # Check the number of unique values in each column
    df[encode_cat].nunique()

    # Create the OneHotEncoder instance
    enc = OneHotEncoder(sparse=False)

    # Fit the encoder and produce encoded DataFrame
    encode_df = pd.DataFrame(enc.fit_transform(df[encode_cat]))

    # Rename encoded columns
    encode_df.columns = enc.get_feature_names(encode_cat)

    # Merge the two DataFrames together and drop the Country column
    df = df.merge(encode_df,left_index=True,right_index=True).drop(encode_cat, 1)

    # Split our preprocessed data into our features and target arrays
    y = df[target].values
    X = df.drop(drop,1).values

    # Split the preprocessed data into a training and testing dataset
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, shuffle=False)

    # Create a StandardScaler instance
    scaler = StandardScaler()

    # Fit the StandardScaler
    X_scaler = scaler.fit(X_train)
    # Save the scaler
    #pickle.dump(X_scaler, open("scaler.sav", "wb"))

    # Scale the data
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)

    # Define the model - deep neural net
    number_input_features = len(X_train[0])
    hidden_nodes_layer1 =  len(X_train[0]) * 2
    hidden_nodes_layer2 = len(X_train[0]) * .1

    nn = tf.keras.models.Sequential()

    # First hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

    # Second hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

    # Output layer
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

    # Train the model
    fit_model = nn.fit(X_train_scaled,y_train,epochs=50, verbose=0)
    
    # We are going to do a slightly round about method to test our model
    # We are saving and exporting the model then importing it back in
    # This is for two reasons
    # First reason is that we want to save our trained models
    # But we do not need it reimport it to test its accuracy, so why are we doing this?
    # We are testing the imported model because we want to make sure that the model file works
    
    # save model
    file_path = os.path.join("models", file_name)
    nn.save(file_path)
    
    # import model back in
    nn_imported = tf.keras.models.load_model(file_path)

    # Evaluate the model using the test data
    model_loss, model_accuracy = nn_imported.evaluate(X_test_scaled,y_test, verbose=0)
    
    return model_accuracy*100

# We do not want to have to run 6 functions for each target so lets make a function that will handle it.
###### This function will build models for the given target, then format the results into a dataframe.

In [12]:
def model_summary(df, drop, target, model_name, show, file_name, dnn_df):
    
    # make a dataframe to neatly organize our results
    machine_learning_summary = pd.DataFrame(
        {
            "Target": model_name,
            "Over Sampling": [over_sample(df, drop, target)],
            "Under Sampling": [under_sample(df, drop, target)],
            "Cluster Centroids": [cluster(df, drop, target)],
            "SMOTEENN": [smoteen(df, drop, target)],
            "Random Forest": [random_forest(df, drop, target, show, model_name)],
            "Easy Ensemble Classifier": [easy_ensemble_classifier(df, drop, target)],
            "Deep Neural Network": [dnn(dnn_df, drop, target, file_name)]
        }
    )
    
    # format the accuracy scores to make them easier to read and more descriptive
    machine_learning_summary["Over Sampling"] = machine_learning_summary["Over Sampling"].map("{:.1f}%".format)
    machine_learning_summary["Under Sampling"] = machine_learning_summary["Under Sampling"].map("{:.1f}%".format)
    machine_learning_summary["Cluster Centroids"] = machine_learning_summary["Cluster Centroids"].map("{:.1f}%".format)
    machine_learning_summary["SMOTEENN"] = machine_learning_summary["SMOTEENN"].map("{:.1f}%".format)
    machine_learning_summary["Random Forest"] = machine_learning_summary["Random Forest"].map("{:.1f}%".format)
    machine_learning_summary["Easy Ensemble Classifier"] = machine_learning_summary["Easy Ensemble Classifier"].map("{:.1f}%".format)
    machine_learning_summary["Deep Neural Network"] = machine_learning_summary["Deep Neural Network"].map("{:.1f}%".format)
    
    # change the index name it more clearly state that it is the accuracy scores being displayed
    #machine_learning_summary = machine_learning_summary.rename(index={0: "Accuracy Score"})
    machine_learning_summary = machine_learning_summary.set_index("Target")
    # show us the dataframe
    #display(machine_learning_summary)
    
    return machine_learning_summary

# Slightly unnecessary, but it would be even more nice to only have to run one function to check all the targets.
###### This function combines all of the summary tables into one.

In [13]:
def accuracy_score_table(show=False):

    # different columns to drop depending on which target we are using
    # we are not dropping previous grades because it is a reasonable expectation to have those data points sequential trimesters
    G1 = ["G1", "G2", "G3"]
    G2 = ["G2", "G3"]
    G3 = ["G3"]
    
    # names from our different model targets
    models = [
        "Math G1",
        "Math G2",
        "Math G3",
        "Portuguese G1",
        "Portuguese G2",
        "Portuguese G3"
    ]
    
    # names for the different file names
    file = [
        "trained_math_G1.h5",
        "trained_math_G2.h5",
        "trained_math_G3.h5",
        "trained_por_G1.h5",
        "trained_por_G2.h5",
        "trained_por_G3.h5"
    ]
    
    summary_table = model_summary(df=math, drop=G1, target="G1", model_name=models[0], show=show, file_name=file[0], dnn_df=dnn_math)
    summary_table = summary_table.append(model_summary(df=math, drop=G2, target="G2", model_name=models[1], show=show, file_name=file[1], dnn_df=dnn_math))
    summary_table = summary_table.append(model_summary(df=math, drop=G3, target="G3", model_name=models[2], show=show, file_name=file[2], dnn_df=dnn_math))
    summary_table = summary_table.append(model_summary(df=por, drop=G1, target="G1", model_name=models[3], show=show, file_name=file[3], dnn_df=dnn_por))
    summary_table = summary_table.append(model_summary(df=por, drop=G2, target="G2", model_name=models[4], show=show, file_name=file[4], dnn_df=dnn_por))
    summary_table = summary_table.append(model_summary(df=por, drop=G3, target="G3", model_name=models[5], show=show, file_name=file[5], dnn_df=dnn_por))
    
    display(summary_table)
    
    return

In [15]:
accuracy_score_table(True)

Feature Importance: Math G1
(0.07552015588930218, 'absences')
(0.0741165088766574, 'Fedu')
(0.060873078960852305, 'failures')
(0.053474408784157504, 'studytime')
(0.05236555674811134, 'Mjob')
(0.04818087755809755, 'freetime')
(0.0474152549255183, 'Medu')
(0.0458958103540737, 'age')
(0.043323686736156955, 'health')
(0.04246381335711076, 'Walc')
(0.040331573845309214, 'goout')
(0.03700496526341975, 'reason')
(0.03539569852804747, 'Dalc')
(0.03447889596108349, 'famrel')
(0.030414449343871008, 'Fjob')
(0.026008284858731967, 'guardian')
(0.025681861660632268, 'traveltime')
(0.02405448454967536, 'schoolsup')
(0.021293562166722343, 'sex')
(0.020586250395254812, 'paid')
(0.020534523118049552, 'famsup')
(0.019635232328878875, 'famsize')
(0.01877966589770088, 'nursery')
(0.017732042723502848, 'activities')
(0.0176433631554651, 'address')
(0.016309761074637903, 'romantic')
(0.015339006376218548, 'internet')
(0.01364691941038523, 'Pstatus')
(0.01306803472392071, 'school')
(0.008432272428454759, 'higher')


Feature Importance: Math G2
(0.28863992658328863, 'G1')
(0.052207841118592294, 'absences')
(0.04571837557279182, 'goout')
(0.03687566644555507, 'age')
(0.03585529646619073, 'Medu')
(0.0354552788167293, 'failures')
(0.0354028078691229, 'Mjob')
(0.03479662462056467, 'Walc')
(0.03335591122582404, 'studytime')
(0.030952817785297432, 'health')
(0.03000288862847583, 'reason')
(0.029867794158010785, 'Fedu')
(0.02905847696340761, 'freetime')
(0.02730717348877115, 'famrel')
(0.023468272345419282, 'Fjob')
(0.021571071085908926, 'Dalc')
(0.021480385029389978, 'traveltime')
(0.018800888605443215, 'romantic')
(0.016952610606687367, 'sex')
(0.015546496957724571, 'guardian')
(0.014981040096361788, 'internet')
(0.014727370340730914, 'nursery')
(0.01434080113794993, 'schoolsup')
(0.014184205540133242, 'address')
(0.014107237335899225, 'activities')
(0.013642029766365383, 'famsize')
(0.01340509890505034, 'paid')
(0.013027356311678409, 'famsup')
(0.009476888065275791, 'Pstatus')
(0.009313508778853334, 'school')
(0.005477859348506021, 'higher')


Feature Importance: Math G3
(0.35239341535180474, 'G2')
(0.16140828041995653, 'G1')
(0.03765691304697964, 'age')
(0.03404896844677103, 'absences')
(0.03187628672835719, 'Mjob')
(0.026945336389663385, 'failures')
(0.025213612035328067, 'Fedu')
(0.023633294789985312, 'goout')
(0.022544619047961414, 'reason')
(0.02186733813776867, 'health')
(0.020782124659347482, 'Walc')
(0.019600043042871006, 'Fjob')
(0.018946511533406783, 'famrel')
(0.018467095470596467, 'studytime')
(0.018319505647276347, 'Medu')
(0.016396610112998138, 'freetime')
(0.015821512400383084, 'Dalc')
(0.015128232079602195, 'traveltime')
(0.012962806709991363, 'romantic')
(0.011830917202268976, 'paid')
(0.011426023837068217, 'schoolsup')
(0.011257580593511196, 'famsup')
(0.010033693155955401, 'guardian')
(0.008733541073861747, 'activities')
(0.008003051765965464, 'sex')
(0.007717559387730274, 'address')
(0.007713416172504746, 'internet')
(0.007223986930590042, 'famsize')
(0.006157782210307946, 'nursery')
(0.0060567659942581285, 'higher')
(0.004946857263339656, 'Pstatus')
(0.004886318361589365, 'school')


Feature Importance: Portuguese G1
(0.09579429744829426, 'failures')
(0.06706836831568816, 'higher')
(0.0664489527948748, 'studytime')
(0.06559163458277897, 'school')
(0.05900998104671517, 'absences')
(0.04497840546983853, 'Mjob')
(0.04330958054895195, 'age')
(0.042537650000873735, 'Medu')
(0.04150144349655257, 'goout')
(0.040854216872183366, 'freetime')
(0.03846448154555924, 'Walc')
(0.03681073671426084, 'Fedu')
(0.03670905512447194, 'famrel')
(0.03014180155140863, 'reason')
(0.029133913820777554, 'health')
(0.028027281350105782, 'Fjob')
(0.026403079783801707, 'traveltime')
(0.026346294809389815, 'Dalc')
(0.02204389550016124, 'guardian')
(0.020902420139331503, 'activities')
(0.01959833012620774, 'address')
(0.01931751695398588, 'sex')
(0.01649691283132517, 'famsup')
(0.015124924426826964, 'romantic')
(0.014226231818354704, 'famsize')
(0.013059504450413897, 'internet')
(0.012596304796218413, 'schoolsup')
(0.011944867061325179, 'nursery')
(0.009213168958640354, 'Pstatus')
(0.006344747660682002, 'paid')


Feature Importance: Portuguese G2
(0.22511796939297032, 'G1')
(0.06888819848964638, 'failures')
(0.04843889980403394, 'absences')
(0.03718721401588087, 'goout')
(0.036513869146892905, 'Fedu')
(0.03613692484559296, 'reason')
(0.035077171781173234, 'age')
(0.03507285505209215, 'studytime')
(0.03452395396895953, 'freetime')
(0.03412427608186755, 'Walc')
(0.03407126044412472, 'famrel')
(0.030756070317026526, 'health')
(0.030105204317525166, 'Medu')
(0.027688237671757192, 'Mjob')
(0.027100733431234092, 'school')
(0.02605367964595538, 'sex')
(0.025132421208691483, 'Dalc')
(0.02381162661784975, 'higher')
(0.023207296817018476, 'Fjob')
(0.021842109776796726, 'traveltime')
(0.01768730305646594, 'guardian')
(0.016043228319594566, 'activities')
(0.015939422187820428, 'nursery')
(0.015176837205396566, 'romantic')
(0.013983200345026996, 'address')
(0.013597931652410113, 'internet')
(0.013402180263573807, 'famsup')
(0.013185520223330112, 'famsize')
(0.009818611789487291, 'schoolsup')
(0.005946813715630848, 'Pstatus')
(0.004368978414173946, 'paid')


Feature Importance: Portuguese G3
(0.27988259873353316, 'G2')
(0.19674616316878907, 'G1')
(0.05310582757951958, 'failures')
(0.033765992230533455, 'school')
(0.02782349017464837, 'Walc')
(0.026999852301643697, 'absences')
(0.023534387026096903, 'goout')
(0.023396782529408102, 'age')
(0.022741923874442013, 'famrel')
(0.022375539795965172, 'Mjob')
(0.022230988799677047, 'Dalc')
(0.02139264796640146, 'reason')
(0.021072690382148953, 'freetime')
(0.019879591423207013, 'Fedu')
(0.01983249193726014, 'higher')
(0.019640503187246736, 'studytime')
(0.019442496530911405, 'Fjob')
(0.016919318909505047, 'health')
(0.016515597751944486, 'traveltime')
(0.014350166163519269, 'address')
(0.013701828818365656, 'Medu')
(0.011442576381402914, 'internet')
(0.01081105390503207, 'nursery')
(0.010512362140425306, 'sex')
(0.009613225748948342, 'romantic')
(0.009233662359755118, 'guardian')
(0.008190026202176029, 'activities')
(0.006829129089213032, 'famsize')
(0.00609897685559307, 'famsup')
(0.005000049556189935, 'Pstatus')
(0.0036498490337249544, 'schoolsup')
(0.003268209442772465, 'paid')

,Over Sampling,Under Sampling,Cluster Centroids,SMOTEENN,Random Forest,Easy Ensemble Classifier,Deep Neural Network
Target,,,,,,,
Math G1,56.6%,64.0%,55.8%,65.4%,60.2%,71.0%,60.6%
Math G2,86.4%,88.7%,86.4%,88.6%,88.7%,87.1%,70.7%
Math G3,90.7%,90.0%,92.4%,93.2%,90.7%,92.2%,88.9%
Portuguese G1,70.5%,72.5%,71.6%,71.5%,75.9%,76.8%,69.3%
Portuguese G2,77.9%,83.6%,68.2%,83.2%,81.7%,77.9%,69.9%
Portuguese G3,83.4%,89.7%,69.1%,89.7%,89.7%,88.2%,85.3%

# Report
###### So I do not think it is a surprise to see that when we include previous grades that those are the most impactful on the accuracy of the model.
###### Likewise their number of absences and other failed classed are a good predictors across all targets.
###### Weekend alcohol consumption with going out also have a high correlation. This could be because socializing is cutting too much into study time or maybe there is a correlation between party goers and people that do not take school as serious.